.clearfix{
  overflow: auto;
  zoom: 1;
}
.wave-btm-bg {
  background-color: #fff;
  background-image: url(/static/images/insurance/underbg.png);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 0.6rem 0.3rem;
}
.confirm-btn {
  margin: 0 0.5rem;
  display: block;
  font-size: 0.85rem;
  line-height: 2rem;
  color: #fff;
  background-color: #008be4;
  text-align: center;
  border-radius: 0.3rem;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.picker-slot {
  width: 100%;
}
.mint-indicator-wrapper{
  z-index: 1000000;
}
.add-address .picker-items{
  overflow: hidden;
  display: block !important;
}
.add-address .picker-slot.picker-slot-center.address-slot {
    float: left;
    width: 33.33% !important;
}