html {
  font-family:"PingFangSC-Regular","sans-serif","STHeitiSC-Light","微软雅黑","Microsoft YaHei";
  color: #333;
}
body{background-color: #f0f0f0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;  
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
    border:0;
    width:100%;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
abbr,acronym {
  border:0;
  font-variant:normal;
}
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}
input,textarea,select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}
input,textarea,select {
  font-size:100%;
}
p,a,span {
  font-size: 0.7rem;
  vertical-align: top;
}
a{text-decoration: none !important;color: #333333;}
html {
  font-size:20px;
}
@media only screen and (min-width:401px) {
  html {
    font-size:25px !important;
  }
}
@media only screen and (min-width:428px) {
  html {
    font-size:26.75px !important;
  }
}
@media only screen and (min-width:481px) {
  html {
    font-size:30px !important;
  }
}
@media only screen and (min-width:569px) {
  html {
    font-size:35px !important;
  }
}
@media only screen and (min-width:641px) {
  html {
    font-size:40px !important;
  }
}
